In [1]:
import numpy as np
from sklearn import preprocessing, model_selection, neighbors
import pandas as pd

In [2]:
df = pd.read_csv('breast-cancer-wisconsin (1).data')
df.replace('?', -99999, inplace = True)
df.drop(['id'],1, inplace = True)
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [3]:
x = np.array(df.drop(['class'],1))
y = np.array(df['class'])
x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y, test_size = 0.2)
clf = neighbors.KNeighborsClassifier()
clf.fit(x_train, y_train)

accuracy = clf.score(x_test, y_test)
print(accuracy)

0.9642857142857143

In [4]:
new_patient = np.array([[1,1,1,1,2,3,3,1,1],[8,10,10,8,7,10,9,7,1],[1,1,1,1,2,3,3,1,1]])
new_patient = new_patient.reshape(len(new_patient), -1)
result = clf.predict(new_patient)
print(result)

[2 4 2]

In [5]:
predictions = clf.predict(x_test)

In [6]:
correct = 0
wrong = 0
total = 0
for x in range(len(predictions)):
    if predictions[x] != y_test[x]:
        wrong += 1
#         print(f"Predicted: {predictions[x]}, Actual: {y_test[x]}, Wrong Prediction")
    else:
        correct += 1
#         print(f"Predicted: {predictions[x]}, Actual: {y_test[x]}")
    total += 1

In [7]:
print(correct, wrong, total)

135 5 140

In [8]:
correct/total

0.9642857142857143